doctype html

html 
  head 
    title Valrapportering 2017
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script(src ="resultatrapportering.js")
    script(src="rapport.js")
    link(rel="stylesheet" type="text/css" href='style.css')
    

    