include index

body

div(id="form")
  h1 Rapportering
  form(action="")
    input(type="text", id="lokal1", placeholder="Vallokal", autocomplete="off")
    br
    input(type="text", id="parti1", placeholder="Parti", autocomplete="off")
    br
    input(type="number", id="antal1", placeholder="Antal röster", autocomplete="off")
    br
    br
    button Rapportera